.content-container {
  overflow-y: scroll;
}

.content-container::-webkit-scrollbar {
  width: 8px;
}

.content-container::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
}

.content-container::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  outline: none;
  border-radius: 10px;
}
